[Unit]
Description=The tftp server serves files using the trivial file transfer protocol.
Requires=atftpd.socket

[Service]
EnvironmentFile=@SYSCONFDIR@/sysconfig/atftpd
ExecStart=@SBINDIR@/atftpd --user $ATFTPD_USER --group $ATFTPD_GROUP $ATFTPD_DIRECTORY
StandardInput=socket

[Install]
Also=atftpd.socket
