#
# VMware HotPlug automatization
#
# Automatically bring on-line added processors and memory.
# 
ACTION=="add", SUBSYSTEM=="cpu", ATTR{online}="1"
SUBSYSTEM=="memory", ACTION=="add", DEVPATH=="/devices/system/memory/memory*[0-9]", TEST=="state", ATTR{state}="online"
