polkit.addRule(function(action, subject) {
        // "org.freedesktop.systemd1.manage-units" - for starting and stopping units
        // "org.freedesktop.systemd1.manage-unit-files" - for enabling/disabling units
        // "org.freedesktop.systemd1.reload-daemon" - for systemd reloading
        if(
                (action.id=="org.freedesktop.systemd1.manage-units")||
                (action.id=="org.freedesktop.systemd1.manage-unit-files")||
                (action.id=="org.freedesktop.systemd1.reload-daemon")
        ){
                if((subject.user=="fleet")||(subject.isInGroup("fleet")))
                        return polkit.Result.YES;
        }
});

