*.pyc
*.box
*.iso
.DS_Store
packer-cache/
.vagrant/
stage
discus-cache/
output-*/
tools/bin/
tools/src/contain/contain_unpriv
common/data/pkg_info.json
SPECS/falco/*.spec
SPECS/sysdig/*.spec
SPECS/kernels-drivers-intel/*.spec
