[Unit]
Description=EdgeX config-seed
Requires=network.target
After=network.target consul.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/edgex-config-seed -c /usr/share/edgex
WorkingDirectory=/var/log/edgex/config-seed

[Install]
WantedBy=multi-user.target
