[Unit]
Description=EdgeX core-config-seed
Requires=network.target
After=network.target consul.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/edgex-core-config-seed
WorkingDirectory=/usr/share/edgex/core-config-seed

[Install]
WantedBy=multi-user.target
