[Unit]
Description=Load dump capture kernel
After=local-fs.target

[Service]
ExecStart=/bin/bash -c "/usr/sbin/kexec -p /boot/vmlinuz-kdump --append=\"root=$(grep /$'\t' /etc/fstab |  awk '/.*/ { print $1 }') 1 irqpoll maxcpus=1 reset_devices systemd.unit=kdump-save.service\""
Type=oneshot

[Install]
WantedBy=multi-user.target
