[Unit]
Description=emqtt daemon
After=network.target

[Service]
Type=forking
Environment=HOME=/root
ExecStart=/bin/sh /usr/sbin/emqttd start
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
