{{ $buttonTxt1 := .Get "buttonTxt1" | default "Button 1"}}
{{ $buttonLink1 := .Get "buttonLink1" | default "/"}}

{{ $buttonTxt2 := .Get "buttonTxt2" | default "Button 2"}}
{{ $buttonLink2 := .Get "buttonLink2" | default "/"}}

<div class="py-2">
	<a class="btn btn-white mr-3 px-5 py-2 my-2 text-uppercase" href="{{ $buttonLink1 }}">
		{{ $buttonTxt1 }}
	</a>
	<a class="btn btn-green btn-outline-secondary mr-3 px-5 py-2 my-2 text-uppercase" href="{{ $buttonLink2 }}">
		{{ $buttonTxt2 }}	
	</a>
</div>