menu background splash.png
menu color title	1;40;47 #FF000000 #00000000 none
menu color border	* #00000000 #00000000 none
menu color sel		* #FF000000 #D00B77BB none
menu color hotsel	1;7;37;40 #FF000000 #D00B77BB none
menu color unsel	37;44 #FF000000 #00000000 none
menu color hotkey	1;37;44 #FF000000 #00000000 none
menu color tabmsg	* #ffffffff #00000000 *
menu color help		37;40 #ffdddd00 #00000000 none
# XXX When adjusting vshift, take care that rows is set to a small
# enough value so any possible menu will fit on the screen,
# rather than falling off the bottom.
menu vshift 12
menu rows 10
menu helpmsgrow 15
# The command line must be at least one line from the bottom.
menu cmdlinerow 16
menu timeoutrow 16
menu tabmsgrow 18
menu tabmsg Press ENTER to boot or TAB to edit a menu entry
