[Unit]
Description=runit
After=network.target

[Service]
TimeoutStartSec=0
ExecStart=/usr/sbin/runsvdir-start
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
