[Unit]
Description = HPA's tftp server
Requires = tftpd-hpa.socket

[Service]
ExecStart = /usr/sbin/in.tftpd -v --secure /var/lib/tftpboot
StandardInput = socket
User = tftp
Group = tftp
