[Unit]
Description=Consul Template Agent
Wants=basic.target
After=basic.target network.target consul.service

[Service]
EnvironmentFile=-/etc/default/consul-template
ExecStart=/usr/bin/consul agent $OPTIONS -config-dir /etc/consul-template.d
ExecReload=/bin/kill -HUP $MAINPID
User=root
Group=root
KillMode=process
Restart=on-abnormal
RestartSec=10s
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
