# The grammar of the host file is, informally:
#
#  DISTCC_HOSTS = HOSTSPEC ...
#  HOSTSPEC = LOCAL_HOST | SSH_HOST | TCP_HOST | OLDSTYLE_TCP_HOST
#  LOCAL_HOST = localhost[/LIMIT]
#  SSH_HOST = [USER]@HOSTID[/LIMIT][:COMMAND][OPTIONS]
#  TCP_HOST = HOSTID[:PORT][/LIMIT][OPTIONS]
#  OLDSTYLE_TCP_HOST = HOSTID[/LIMIT][:PORT][OPTIONS]
#  HOSTID = HOSTNAME | IPV4
#  OPTIONS = ,OPTION[OPTIONS]
#  OPTION = lzo
