[Unit]
Description=Nomad
Documentation=https://nomadproject.io/docs/
Wants=network-online.target
After=network-online.target consul.service
Requires=consul.service

[Service]
Type=notify
User=root
Group=root
EnvironmentFile=-/etc/default/nomad
ExecStart=/usr/bin/nomad agent $OPTIONS -config /etc/nomad.d
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
KillSignal=SIGINT
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
