Protocol 2

SyslogFacility AUTHPRIV
PasswordAuthentication yes

ChallengeResponseAuthentication no

GSSAPIAuthentication yes
GSSAPICleanupCredentials yes

UsePAM yes
UseDNS no

AcceptEnv XMODIFIERS

X11Forwarding yes
Subsystem       sftp    /usr/libexec/openssh/sftp-server