// Blog related styles.

.td-blog {
    .td-rss-button {
        position: relative;
        width: 125px;
        align-items: center;
        //top: 1rem;
        right: 1rem;
        left: 1rem;
        z-index: 22;
        float: right;
    }
}