{{ $textLead1 := .Get "textLead1" | default "First Value!" }}
{{ $textLead2 := .Get "textLead2" | default "Second Value" }}

{{ $textSub1 := .Get "textSub1" | default "Why Is This First Value Valuable?" }}
{{ $textSub2 := .Get "textSub2" | default "Why is This Second Value Valuable?" }}

<div class="container-fluid p-0 py-3 bg-info">
    <div class="container row m-auto py-4">
        <div class="col px-2 mx-2">
            <h5>{{ $textLead1 }}</h5>
            <p class="m-0 text-dark">{{ $textSub1 | markdownify }}</p>
        </div>
        <div class="col px-2 mx-2">
            <h5>{{ $textLead2 }}</h5>
            <p class="m-0 text-dark">{{ $textSub2 | markdownify }}</p>
        </div>
    </div>
</div>
