[Unit]
Description=A high performance web server and a reverse proxy server
After=syslog.target network.target
Conflicts=nginx.service

[Service]
Type=forking
PIDFile=/run/openresty.pid
ExecStartPre=@@ORPREFIX@@/nginx/sbin/nginx -t -q -g 'pid /run/openresty.pid; daemon on; master_process on;'
ExecStart=@@ORPREFIX@@/nginx/sbin/nginx -g 'pid /run/openresty.pid; daemon on; master_process on;'
ExecReload=@@ORPREFIX@@/nginx/sbin/nginx -g 'pid /run/openresty.pid; daemon on; master_process on;' -s reload
ExecStop=@@ORPREFIX@@/nginx/sbin/nginx -g 'pid /run/openresty.pid;' -s quit

[Install]
WantedBy=multi-user.target
