[Unit]
Description=VerneMQ Server
After=network.target epmd@0.0.0.0.socket
Wants=network.target epmd@0.0.0.0.socket
ConditionPathExists=/etc/vernemq/vernemq.conf

[Service]
Type=notify
User=vernemq
Group=vernemq
NotifyAccess=all

# if we set this to infinity, vernemq service fails to start
# vernemq: ll_alloc: Cannot allocate 2147483711 bytes of memory
LimitNOFILE=65536

Environment="WAIT_FOR_ERLANG=3600"
TimeoutStartSec=3600
RuntimeDirectory=vernemq
RuntimeDirectoryMode=0755
WorkingDirectory=/usr/lib/vernemq
ExecStartPre=/usr/lib/vernemq/bin/vernemq chkconfig
ExecStart=/usr/lib/vernemq/bin/vernemq start
ExecStop=/usr/lib/vernemq/bin/vernemq stop
SuccessExitStatus=69

[Install]
WantedBy=multi-user.target
