[Unit]
Description=RPM database migration to /usr
ConditionPathExists=/var/lib/rpm/.migratedb

# This should run before any daemons that may open the rpmdb
DefaultDependencies=no
After=sysinit.target
Before=basic.target shutdown.target
Conflicts=shutdown.target
# In case /var is remote-mounted
RequiresMountsFor=/var

[Service]
Type=oneshot
ExecStart=/usr/lib/rpm/rpmdb-migrate.sh

[Install]
WantedBy=basic.target
