#
# distro specific settings go here
#

# There are 2 configuration files that implement [openssl_init] configuration
# tree to automatically load corresponding providers.
# - /etc/ssl/provider_fips.cnf - for FIPS enabled mode, and
# - /etc/ssl/provider_default.cnf - for FIPS disabled mode & for allowing non fips algos when needed
# Pick one of them for your needs or write your own [openssl_init] section.
.include /etc/ssl/provider_default.cnf

#.include /etc/ssl/provider_fips.cnf
