[Unit]
Description=Application Container Server for Networked/Clustered Web Applications
Documentation=https://uwsgi-docs.readthedocs.io/en/latest
After=syslog.target

[Service]
ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=always
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
