[Unit]
Description=Network interface initialization
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/sbin/ifconfig eth0 mtu 1460 up
Type=oneshot

[Install]
WantedBy=multi-user.target
